body {
    /* margin-top: 100px;
    display: flex;
    justify-content: center; */
    
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;

}

.breadcrumb{
    color: #8a7b68;
    font-size: small;
    float: right;
}